################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vscode
/bin/Debug/net9.0
/obj
/.vs
actionlint.exe
actionlint.zip
